 {% load static %}
 <!DOCTYPE html>
 
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home - ecom </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
     
 </head>
 <body>
     <div class="nav-bar">
        <ul class="nav-items">
            <li><a href="">Store</a></li>
            <li><a href="">Cart</a></li>
            <li><a href="">Checkout</a></li>   
        </ul>
    </div>


 </body>
 </html>